#ignorer PDF
*.pdf

#ignorer DEM
# *.asc
# *.tif
Therion/GIS/Big_files/

#ignorer geoTIFF
*.tif
*.xvi

*.svg
*.kml
*.lox
*.log
*.shx
*.shp
*.dbf
*.prj
*.sbx
*.sbn
*.sqlite
*.vtk
*.html
*.dxf
*.3d
*.sql
*.ai